<library path="lib/librqt_task_learning">
  <class name="rqt_task_learning/TaskLearning" type="rqt_task_learning::TaskLearning" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin for task demonstration.
    </description>
    <qtgui>
      <label>Task Learning</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>A GUI for Task Learning</statustip>
    </qtgui>
  </class>
</library>
