<?xml version="1.0"?>
<launch>

	<!-- Transform -->
	<include file="$(find robot_setup_tf)/launch/robot_setup_tf.launch" />
  	<!-- <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0 0 0 0 0 0 /base_link /base_laser 100" />-->

<!-- ALL MOVED TO MOVE_BASE.LAUNCH -->

		<!-- Sensor Information - Fake Laser node  from Xtion/Kinect-->
		<!--<include file="$(find fake_laserscan)/launch/fake_laserscan.launch"/>-->
	
		<!-- Sensor Information - Filter for Fake Laser node  from Xtion/Kinect-->
		<!--include file="$(find tangerine_2dnav)/launch/kinect_filter.launch"/-->
	
		<!-- Sensor Information - Infrared Range Sensor node  >
		<node name="ir_reading" pkg="ir_reading" type="ir_reading" respawn="false"/-->
<!-- ________________________________________________________ -->

	<!-- DrRobot Player - Odometry and base control -->
	<include file="$(find drrobot_h20_player)/launch/drrobot_player.launch" />


	

</launch>
