<launch>
	<arg name="model" default="$(find arm_navigation)/model/TangerineModel.urdf.xacro" />
	<param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
	
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node name="state_publisher" pkg="drrobot_h20_arm_player" type="DrRobot_Arm_Broadcaster" />
</launch>
