<?xml version="1.0"?>
<launch>

	<!-- <arg name="model" default="$(find tangerine_2dnav)/Model/TangerineModel.urdf.xacro"/> -->
	<arg name="model" default="$(find tangymodel_eff)/robots/tangymodel_eff.URDF"/>  
	<arg name="gui" default="False" />
	<param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
	<param name="use_gui" value="$(arg gui)"/>
	
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
	</node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
		<!--<param name="publish_frequency" type="double" value="1" />-->
	</node>

<!--<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="true" output="screen">
    <remap from="/joint_states" to="/tangy/joint_states" />
  </node>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <remap from="/joint_states" to="/tangy/joint_states" />
  </node>-->
</launch>
