<?xml version="1.0"?>
<!-- PTZ Camera -->
<!-- Start the driver for a specific Axis network camera and view its images.

     this is a test script: NOT FOR GENERAL USE

     args: camera = camera name used for namespace and frame_id
                    (default: axis_camera)
           hostname = network address of camera (default: 192.168.0.90)
           username = user name for accessing camera (default: root)
           password = password for accessing camera (required)
           camera_info_url = URL with camera calibration
                              (default: use generic axis_camera calibration)
-->
<launch>
	<arg name="cameraR" default="axis_ptz" />
	<arg name="hostnameR" default="192.168.0.99:8081" />
	<arg name="usernameR" default="root" />
	<arg name="passwordR" default="drrobot" />
	<arg name="camera_info_urlR" default="package://axis_camera/launch/default_calibration.yaml" />
	<group ns="$(arg cameraR)">

		<node pkg="axis_camera" type="axis_ptz.py" name="axis_ptz">
		<param name="hostname" value="$(arg hostnameR)" />
		<param name="username" value="$(arg usernameR)" />
		<param name="password" value="$(arg passwordR)" />
		<param name="frame_id" value="$(arg cameraR)" />
		</node>

		<!-- Viewer window -->
		<node pkg="image_view" type="image_view" name="image_view">
		<remap from="image" to="image_raw" />
		<param name="image_transport" value="compressed" />
		</node>

	</group>

  <!-- To control the PTZ, issue commands like so:
  rostopic pub /axis/cmd axis_camera/Axis '{ brightness: 5000, pan: 100, tilt: 10, zoom: 0, autofocus: True }'
  NOTE: Don't forget to populate the brightness field, or
        you'll get very dark images.
  -->
</launch>
