<?xml version="1.0"?>
<launch>
	<group>
		<!-- script -->
		<node pkg="script_player" name="script_player_client" type="script_player_client" output="screen"/>
		<!--<param name="script_folder" type="str" value="$(find script_player)/scripts/calling/" />-->
		<!--<param name="script_folder" type="str" value="$(find script_player)/scripts/hello/" />-->
		<!--<param name="script_folder" type="str" value="$(find script_player)/scripts/help/" />-->
		<!--param name="script_folder" type="str" value="$(find script_player)/scripts/head_down/" /-->
		<!--<param name="script_folder" type="str" value="$(find script_player)/scripts/celebration/" />-->
		<param name="script_folder" type="str" value="$(find script_player)/scripts/head_reset/"/>
		<!--<param name="script_folder" type="str" value="$(find script_player)/scripts/goodbye/" />-->
	</group >
</launch>
